@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Poppins:ital,wght@0,700;1,400&display=swap'); 
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-family: 'Outfit', sans-serif;
    color:aliceblue;
    opacity: 0.9;
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
}
.weatherDescription{
    min-width: 200px;
}